.livrosDoadosSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 32px;
    height: 8vh;
    display: flex;
    align-items: center;
  }

  h3 {
    text-align: center;
  }
}

.containerCards {
  width: 95%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;

  section {
    border: solid 3px #005695;
    width: 18%;
    height: 40vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    img {
      width: 8vw;
    }

    div {
      text-align: center;
    }
  }
}

@media (max-width: 780px) {

  .containerCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
      width: 60%;
    }
  }
}